.main-frame{
    height: 550px;
    width: 550px;
    color: white;    
    border-radius: 0.3rem;
    margin:auto;
    border: 1px solid black;
    background-color: #282D35;
    background-image: url('../img/Group\ \(1\).png');
    background-position: 100%;
    background-repeat:no-repeat;
    background-size: 20%;
    nav{
        height: 91px;
        color: white;
        display: flex;
        background-color: #21222A;
        align-items: center;
        h1{
            align-self: center;
            display: block;
            margin-top: 0%;
            margin-left: 0;
            color: #61DAFB;
          
        }
        
        img{
            width: 29px;
            height: 29px;
            float: left;
            margin: 0% 3%;
        }
        ul{
            margin-right: 3%;
            margin-left: auto;
            li{
                
                color: #DEEBF8;
                display: inline;
                list-style: none;
                margin: 0 12px 0 0;
                cursor: pointer;
                
            }
        }
    }
    h1{
        float: left;
        margin: 50px 0 0 27px;
    }
    ul>li::marker{
        color: rgb(180, 135, 223);
        font-size: 1.2rem;
    }
    ul{
        margin-left: 4%;
        letter-spacing:1px;
        line-height: 2rem;
        float: left;
        clear: left;
        li{
            text-align: left;

        }
    }
}
footer{
    clear: left;
    position: relative;
    top:25% ;
}