.main-frame {
  height: 550px;
  width: 550px;
  color: white;
  border-radius: 0.3rem;
  margin: auto;
  border: 1px solid black;
  background-color: #282D35;
  background-image: url("../img/Group (1).png");
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: 20%;
}

.main-frame nav {
  height: 91px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #21222A;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-frame nav h1 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  display: block;
  margin-top: 0%;
  margin-left: 0;
  color: #61DAFB;
}

.main-frame nav img {
  width: 29px;
  height: 29px;
  float: left;
  margin: 0% 3%;
}

.main-frame nav ul {
  margin-right: 3%;
  margin-left: auto;
}

.main-frame nav ul li {
  color: #DEEBF8;
  display: inline;
  list-style: none;
  margin: 0 12px 0 0;
  cursor: pointer;
}

.main-frame h1 {
  float: left;
  margin: 50px 0 0 27px;
}

.main-frame ul > li::marker {
  color: #b487df;
  font-size: 1.2rem;
}

.main-frame ul {
  margin-left: 4%;
  letter-spacing: 1px;
  line-height: 2rem;
  float: left;
  clear: left;
}

.main-frame ul li {
  text-align: left;
}

footer {
  clear: left;
  position: relative;
  top: 25%;
}
/*# sourceMappingURL=style.css.map */